/* Stylesheet for Demo/Testing Page */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.col-10-off-2 {
  grid-area: 1 / 3 / 2 / 11;
}