// Main Variables File

// Color Variables
$black: #000000;
$white: #FFFFFF;
$gold: #F7B500;
$sithred: #E02020;
$jediblue: #32C5FF;
$bggrey: #1D1E1F;


// Font Size Variables
$base-font-size: 1em;
$h1-font-size: 4em;
$h2-font-size: 3em;
$h3-font-size: 2.5em;
$h4-font-size: 2em;
$h5-font-size: 1.5em;
$h6-font-size: 1.25em;